<%- include('./templates/head') %>
<body>
    <h1>Al parecer no tienes una cuenta, CREALA!</h1>
    <form action="/login" method="post">
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <div>
            <label for="dni">DNI</label>
            <input type="text" name="dni" id="dni">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
        </div>
        <div>
            <label for="telefono">telefono</label>
            <input type="text" name="telefono" id="telefono">
        </div>
        <div>
            <label for="password">Ingrese su contraseña</label>
            <input type="password" name="password" id="password">
        </div>
        <div>
            <input type="submit" value="Login">
        </div>
    </form>
</body>